* {
    font-family: "Quicksand";
}

body {
    color: #2B3445;
    font-family: "Quicksand";
    background-color: #F6F9FC !important;
}

.searchwrapper {
    width: 100%;
    max-width: 670px;
}

.searchbox {
    background-color: #fff;
    padding: 5px 30px 5px 65px;
    border-radius: 50px;
    position: relative;
}

.searchbox [class*="col-"] {
    padding: 0px;
}

.searchbox svg {
    position: absolute;
    left: 30px;
    top: 26%;
    color: #6c757d;
}

.searchbox .form-control {
    border-color: transparent;
    border-right: solid 1px rgba(0, 0, 0, 0.10);
}

.searchbox select.form-control {
    border-right: solid 1px transparent;
}

.searchbox .form-control:focus {
    outline: 0;
    border-color: transparent;
    box-shadow: none;
}

.searchbox .btn {
    border-radius: 40px;
    padding: 5px 10px;
    width: 100%;
}


/* ------ Select Chosen Styles ---- */

.searchbox .chosen-single,
.searchbox .chosen-container-multi .chosen-choices li.search-field input[type="text"],
.searchbox .chosen-container-single .chosen-single {
    padding: 0 28px;
    width: 100% !important;
    margin: 0;
    border: solid 1px #c4cad0 !important;
    height: 40px;
    line-height: 22px;
    font-size: 14px;
    font-weight: normal;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 23px;
    background: none;
}

.searchbox .chosen-single,
.searchbox .chosen-container-multi .chosen-choices li.search-field input[type="text"],
.searchbox .chosen-container-single .chosen-single {
    font-size: 15px;
}

.searchbox .chosen-single,
.searchbox .chosen-container-multi .chosen-choices li.search-field input[type="text"],
.searchbox .chosen-container-single .chosen-single {
    border: none !important;
    background: #fff !important;
}

.searchbox .chosen-container-multi .chosen-choices {
    background: none;
}

.searchbox .chosen-container-multi .chosen-choices li.search-field {
    float: none;
}

.searchbox .chosen-single,
.searchbox .chosen-container-single .chosen-single,
.searchbox .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    padding-right: 50px;
}

.searchbox .chosen-single span {
    display: block;
    padding: 0;
    margin: 0;
    line-height: 40px;
}

.searchbox .chosen-container-single .chosen-single {
    background: none !important;
    box-shadow: none !important;
}

.searchbox .chosen-container-active .chosen-single,
.searchbox .chosen-container-active .chosen-choices {
    box-shadow: none;
}

.searchbox .chosen-single,
.searchbox .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    color: #334e6f !important;
}

.searchbox .chosen-container-multi .chosen-choices li.search-field input[type="text"],
.main_wrapper .select-tags:after {
    color: #fff !important;
}

.searchbox .chosen-container {
    text-align: left;
}

.searchbox .chosen-drop {
    margin: 5px 0 0 0;
    background: #fff;
    border-radius: 5px;
    border: none;
    overflow: hidden;
    box-shadow: 20px 20px 50px rgba(58, 87, 135, 0.1);
}

.searchbox .chosen-drop ul.chosen-results {
    padding: 0;
    margin: 0;
    text-align: left;
}

.searchbox .chosen-drop ul.chosen-results li:before {
    display: none;
}

.searchbox .chosen-drop ul.chosen-results li {
    padding: 6px 30px 7px 30px;
    line-height: 22px;
    font-size: 14px;
    color: #334e6f;
    background: none !important;
}

.searchbox .chosen-drop ul.chosen-results li:first-child {
    padding-top: 25px;
}

.searchbox .chosen-drop ul.chosen-results li:last-child {
    padding-bottom: 23px;
}

.searchbox .chosen-choices {
    padding: 0;
    margin: 0;
    border: none;
}

.searchbox .chosen-choices li {
    width: 100%;
    display: block;
}

.searchbox .chosen-choices li.search-choice {
    display: none;
}

.searchbox .chosen-choices li:before,
.searchbox .chosen-choices li:after {
    display: none;
}

.searchbox .chosen-single>div {
    display: none;
}

.searchbox .chosen-single {
    position: relative;
}

.searchbox .chosen-single:after {
    content: "\f107";
    right: 28px;
    top: 50%;
    width: auto;
    height: auto;
    background: none;
    font-family: 'FontAwesome';
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: #999999;
    display: block;
    pointer-events: none;
    position: absolute;
    font-size: 28px;
    line-height: 22px;
}

.user-icon,
.cart-icon {
    background-color: #F3F5F9 !important;
    padding: 10px !important;
    text-align: center !important;
    user-select: none !important;
    border-radius: 50% !important;
    width: 48px;
    height: 48px;
    margin-left: 15px;
}

.zindex-10 {
    z-index: 10;
}

.carousel-indicators [data-bs-target] {
    background-color: #334e6f !important
}

.subtitle {
    color: #0F3460;
    margin-bottom: 21.6px;
    margin-top: 0px;
    font-size: 14px;
}

.title-box {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
}

.icon-title-box {
    margin-right: 8px;
}

.view-all,
.view-all:hover {
    color: #7d879c;
    text-decoration: none;
    font-size: 14px;
}

.extra-icons {
    top: 7px;
    right: 15px;
    cursor: pointer;
    display: flex;
    z-index: 2;
    position: absolute;
    flex-direction: column;
}

.MuiCard-root:hover .extra-icons {
    display: flex;
}

.MuiCard-root .extra-icons .MuiFab-root {
    width: 36px;
    height: 36px;
    background-color: transparent;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.54);
}

.slick-slide {
    padding: 0 15px;
  }